.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}


#tweet-text {
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  margin-top: 1em;
  min-height: 1em;
  min-width: 100%;
  max-width: 100%;
  font-weight: bolder;
  color:white;
  background:midnightblue;
  border-bottom: 3px solid#ffffff;
}

.counter {
  display: flex;
  font-family: 'Bungee';
  justify-content: space-between;
}

button {
  color: white;
  background: #4056A1;
  display: inline-block;
  font-family: 'Bungee';
  padding: 0.2em 0.5em;
  transition: all 0.2s;
}
#tweet-below {
  display: flex;
  justify-content: space-between;
  padding-top: 7px ;
}

/*========== ERROR MESSAGE STYLING ========*/

#error {
  display:flex;
  text-align: center;
  color: red;
  background-color: #f7b5ad;
  font-weight: 600;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
  border: solid;
  align-items: center
  
};

 
